@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(PT-Sans_400_normal.woff) format('woff'),
        url(PT-Sans_400_normal.ttf) format('truetype');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(PT-Sans_700_normal.woff) format('woff'),
        url(PT-Sans_700_normal.ttf) format('truetype');
}
